* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  width: 150px;
  height: 52px;
  background-color: #d95450;
  border: none;
  border-radius: 52px;
  font-size: 20px;
}

.slider {
  height: 931px;
  background-image: url(../images/banner_bg.jpg);
  background-size: cover;
  background-position: 54% 67.5%;
  background-repeat: no-repeat;
  position: relative;
}

.logo img {
  width: 94px;
  height: 60px;
  margin: 0 auto;
  padding-top: 11px;
  display: block;
  align-items: center;
  margin-bottom: 20px;
}

.nav {
  height: 22px;
  padding-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  gap: 100px;
  color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.section {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}

.main {
  display: flex;
  padding: 30px 0;
  align-items: center;
  text-align: center;
}

.main .text_box {
  width: 460px;
  position: relative;
}

main .text_box .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_box h4 {
  font-weight: bolder;
}

.text_box h2 {
  font-size: 26px;
  font-weight: normal;
  margin-top: 22px;
}

.text_box p {
  width: 65%;
  margin: 0 auto;
  line-height: 2;
  margin-bottom: 50px;
}

.text_box .wave {
  height: 5px;
  width: 240px;
  margin: 0 auto;
  background-image: url('../images/wave_x_gray.png');
  margin-top: 42px;
  margin-bottom: 38px;
}

.main .photos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, auto);
  gap: 10px;
}

.photos img {
  width: 100%;
  display: block;
  height: 100%;
}

.photos li:nth-child(1) {
  grid-row: 1/4;
}
.photos li:nth-child(2) {
  grid-row: 1/3;
}
.photos li:nth-child(3) {
  grid-row: 1/6;
}
.photos li:nth-child(4) {
  grid-row: 1/5;
}
.photos li:nth-child(5) {
  grid-row: 4/8;
}
.photos li:nth-child(6) {
  grid-row: 3/8;
}
.photos li:nth-child(7) {
  grid-row: 6/8;
}
.photos li:nth-child(8) {
  grid-row: 5/8;
}

.footer {
  background-color: #171717;
  color: #fff;
  text-align: center;
  padding: 30px 20px 30px;
  font-size: 12px;
}

.footer h2 {
  font-size: 28px;
}

.footer p {
  margin: 20px 0;
  line-height: 1.8;
}
